/* responsive for (992px - 1200px) device */
/* min-width:992px = don't apply less than 992px device */
/* max-width:1200px = don't apply more than 1200px device */
/* main area width:1000px */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .area{
        width: 970px;  /* left-right SAFE zone 992px-970px= 22px */
    }
    .single-gallery {
        width: 222px;
    }
}
/* responsive for (768px - 991px) device */
/* don't apply less than 768px device */
/* don't apply more than 991px device */
/* checking point = 800px */
@media only screen and (min-width:768px) and (max-width:991px){
    .area{
        width:750px; /* left-right SAFE zone 768px-750px= 18px */
    }
    .single-service {
        width: 230px;
    }
    .about-left {
        width: 598px;
    }
    .about-menu {
        float: right;
        width: 122px;
    }
    .about-menu h4 {
        font-size: 25px;
    }
    .contact-form {
        width: 462px;
    }
}

/* responsive for (0px - 767px) device */
/* don't apply more than 767px device */
/* checking point = 400px */
@media only screen and (max-width: 767px){
    .area{
        width: 320px;
    }
    .menu ul li a {
        padding: 6px 8px;
        display: block;
    }
    .menu ul li {
        display: block;
    }
    .menu {
        width: 80%;
    }
    .logo {
        width: 20%;
    }
    .header-area {
        height: auto;
    }
    
    .banner img {
    height: 300px;
    }
   .banner img {
    height: 180px;
   }
   .about-menu {
    float: right;
    width: 100%;
   }
   .about-left {
	width: 70%;
}
.single-service {
	width: 100%;
}
.single-gallery {
	width: 100%;
}
.contact-form {
	width: 100%;
}
.contact-address {
	width: 100%;
	float: right;
}
}
/* this one share with mobile code only width  is increased here or can be coded seperately if needed */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .area{
        width: 450px;
    }
}